*{
    margin: 0;
}

.banner {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.title{
    display: flex;
    justify-content: left;
    padding: 15px;
    margin-left: 80px;
}

.store-item-img {
  width: 400px;
  height: 400px;
  padding: 10px;
}

.store-cont{
display: flex;
flex-wrap: wrap;
margin-left: 80px;
}
.card{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}
.round-img{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 250px;
  margin-top: 50px;
}
.store-item-img-round {
  width: 280px;
  height: 280px;
  padding: 10px;
  border-radius: 70%;
}
.containerr{
  margin-left: 80px;
}